/* external imports */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

/* menu.html */
@import "menu-items.css";

/* all pages */
#banner {
	background-color: #3d3d3d;
}

#banner-row {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0.25rem;
}

body {
	font-family: 'Roboto', sans-serif;
}

.row {
	margin-right: 1rem;
	margin-left: 1rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.pic {
	width: 100%;
	height: auto;
}

/* index.html */
.form-head {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}

form {
	padding: 0.5rem;
}

.form-col{
	position: absolute;
	z-index: 10;
	top:15%;
	background-color: white;
}

@media(max-width: 576px){
	.form-col{
		position: static;
	}
}

#form-row {
	padding-right: 1rem;
	padding-left: 1rem;
}


#footer-row {
	margin-top: 0;
	margin-bottom: 0;
	padding: 1rem;
}

.follow {
	padding-left: 0.25rem;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 400;
}

#cards-row {
	padding-left: 1rem;
	padding-right: 1rem;
}

.card-title {
	text-align: center;
}

.card {
	margin-bottom: 0.5rem;
}


/* promotion pages */
.promo-btn {
	margin-top:10px;
}


#btn-container {
	flex-direction: column;
	position: absolute;
	z-index: 10;
	top:13%;
}


#btn-col {
	position: static;
}

@media(max-width: 576px) {
	#btn-container {
		position: relative;
		width: 100%;
		justify-content: space-evenly;
		flex-direction: row;
		bottom: 80%;
		top: unset;
	}
}
